In [1]:
"test"

'test'

In [46]:
pip install -r requirements.txt

Requirement already satisfied: psycopg2-binary in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 1)) (2.9.9)
Requirement already satisfied: SQLAlchemy in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from -r requirements.txt (line 2)) (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy->-r requirements.txt (line 2)) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy->-r requirements.txt (line 2)) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
from sqlalchemy import create_engine, text

In [55]:
connection_string = "postgresql://neondb_owner:3IMLJdWzk5sC@ep-empty-hill-a52qb0bi-pooler.us-east-2.aws.neon.tech/todo?sslmode=require"

In [56]:
from sqlalchemy.engine.base import Engine

engine : Engine = create_engine(connection_string)

In [57]:

from sqlalchemy import text

with engine.connect() as conn:
    result = conn.execute(text("select 'Hellow World'"))
    print(result.all())

[('Hellow World',)]

In [63]:
from sqlalchemy import text

with engine.connect() as conn:
    # Start a new transaction
    trans = conn.begin()
    try:
        conn.execute(text("create TABLE some_table(x integer, y integer)"))
        
        # Commit the transaction
        trans.commit()
    except:
        # Rollback the transaction in case of error
        trans.rollback()
        raise

In [65]:
with engine.begin() as conn:
    conn.execute(
        text("INSERT INTO some_table (x, y) VALUES (:x, :y)"),
        [{"x": 5, "y": 8}, {"x": 7, "y": 410},{"x": 9, "y": 120},{"x": 5, "y": 1},{"x": 7, "y": 50}],
    )

In [66]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table"))
    print(type(result))
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

<class 'sqlalchemy.engine.cursor.CursorResult'>
x: 6  y: 8
x: 9  y: 10
x: 5  y: 8
x: 7  y: 410
x: 9  y: 120
x: 5  y: 1
x: 7  y: 50

In [67]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT x, y FROM some_table WHERE y > :y"), 
                          {"y": 10})
    for row in result:
        print(f"x: {row.x}  y: {row.y}")

x: 7  y: 410
x: 9  y: 120
x: 7  y: 50